@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background: #F0EDFF;
  color: #eceef8;
}

nav {
  background: #4054ba;
  width: 320px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto 0 auto;
  border-radius: 10px;
}
nav input {
  padding: 5px;
  font-size: 1rem;
  width: 310px;
  height: calc(100% - 5px);
  outline: none;
  background: none;
  color: #eceef8;
  border: none;
}
nav input::placeholder {
  color: #eceef8;
}

#countainer::before {
  content: "";
  width: 80vw;
  height: 0.3rem;
  background: royalblue;
  position: absolute;
  top: -10px;
  margin: 6px auto;
  left: 10%;
  border-radius: 0.5rem;
}

#countainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  padding: 7px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  margin: 17px auto;
  bottom: 5px;
}
#countainer .card {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: start;
  flex-direction: column;
  padding: 5px;
  color: #eceef8;
  background: black;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
}
#countainer .card img {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 6px 0px 6px 0px;
  object-fit: cover;
}
#countainer .card h3 {
  font-size: 0.8rem;
  font-weight: bold;
  text-wrap: wrap;
  position: relative;
  width: 100%;
  left: 5px;
}

.linear {
  width: 250px;
  height: 250px;
  border-radius: 30%;
  background: radial-gradient(circle, #394FB4, #4054ba, #000, #404);
  position: absolute;
  filter: blur(20px);
  opacity: 0.3;
}

main {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}
main .imgC {
  width: 169px;
  height: 240px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
main .imgC img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
main .cardn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
main .cardn h1 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px;
  width: 260px;
}
main .desc {
  width: 300px;
  height: 150px;
  overflow: scroll;
  margin: 10px auto;
}
main #icon {
  width: 150px;
  text-align: center;
}
main #icon .film {
  color: tomato;
}
main button {
  font-size: 1.2rem;
  outline: none;
  border: 1.3px solid #4054ba;
  padding: 8px;
  margin: 10px auto;
  border-radius: 5px;
  animation: bg 2s ease-in;
  background: #4054ba;
  border: 1.3px solid #404;
}
@keyframes bg {
  0% {
    background: none;
    border: 1.3px solid #4054ba;
  }
  100% {
    background: #4054ba;
    border: 1.3px solid #404;
  }
}
main .but {
  margin: 0 auto;
}
main .second {
  padding: 15px;
  width: 100%;
}
main .db {
  width: 250px;
  height: 3px;
  border-radius: 10px;
  background: royalblue;
}

body {
  margin: 0;
  padding: 0;
}
body header {
  position: relative;
  bottom: 2px;
  border-bottom: 1px solid royalblue;
}
body header nav {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  width: 100vw;
  background: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav #search {
  background: #EEEDFF;
  color: #404040;
  border-radius: 50%;
  padding: 6px;
  transition: all 0.7s ease-in;
}
body header nav #search:hover {
  background: #9FA1D7;
}
body header nav #bar {
  position: relative;
  color: #363745;
}

.carousel {
  height: 280px;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.carousel .carousel-indicators button {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
.carousel a {
  display: none;
}

#img {
  object-fit: cover;
  background-position: center;
  background: linear-gradient(to top, #404040, transparent);
  filter: blur(10px);
  height: 280px;
  opacity: 0.3;
  width: 100%;
  position: relative;
}

#smallPoster {
  position: relative;
  right: 20px;
  top: -10px;
  border-radius: 5px;
  width: 50%;
  height: 190px;
}

#info-Carosell {
  height: 190px;
}
#info-Carosell h2 {
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  top: 16px;
  text-wrap: balance;
}
#info-Carosell .space {
  white-space: nowrap;
}

.synone {
  font-size: 1.1rem;
  position: relative;
  left: 18px;
  margin: 5px 5px;
}

.synone::before {
  content: "•";
  margin: auto 6px;
}

.name {
  width: 100vw;
  gap: 7px;
}
.name p {
  text-wrap: blance;
  margin: auto 7px;
  text-align: center;
}

.genre {
  margin: 10px auto;
  width: 100vw;
  gap: 7px;
}
.genre #genreC {
  text-wrap: blance;
  margin: auto 7px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.genre #genreC p {
  font-size: 1.1rem;
  border: 1.4px solid gray;
  padding: 2px;
  border-radius: 5px;
}

#countainerN {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 17px;
  margin: 0 auto;
  justify-content: center;
}
#countainerN .cardN {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: start;
  flex-direction: column;
  padding: 5px;
  color: #eceef8;
  background: #000;
  border-radius: 4px;
  position: relative;
}
#countainerN .cardN img {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 6px 0px 6px 0px;
  object-fit: cover;
}
#countainerN .cardN h3 {
  font-size: 1rem;
  font-weight: bold;
  text-wrap: balance;
  position: relative;
  width: 100%;
  left: 5px;
}

.switcher {
  display: flex;
  width: 202px;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
.switcher #icon {
  padding: 5px;
}
.switcher #icon:hover {
  color: royalblue;
}
.switcher p {
  font-size: 1.4rem;
}

#logoN {
  font-family: "Tilt Prism", cursive;
  color: #eceef8;
}

.Ep-titleC {
  width: 98vw;
  padding: 8px;
  margin: 8px auto;
  border-radius: 6px;
  background: #333942;
}
.Ep-titleC .line {
  width: 100%;
  height: 2px;
  background: #4166e1;
}
.Ep-titleC .Ep-title {
  font-size: 1.3rem;
  padding: 4px;
  color: #eceef8;
}

.topAiring::before {
  content: "";
  width: 80vw;
  height: 0.3rem;
  background: royalblue;
  margin: 6px auto;
  border-radius: 0.5rem;
  position: absolute;
  left: 10%;
  top: -20px;
}

.trend {
  height: 230px;
  background: linear-gradient(to top, #333942, transparent 50%);
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
  border: 2px dashed royalblue;
  position: relative;
}
.trend .topAiring #airingCard {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.trend .topAiring #airingCard div {
  padding: 5px;
}
.trend .topAiring #airingCard div img {
  width: 200px;
  object-fit: cover;
  object-position: center;
  height: 200px;
}
.trend .topAiring #airingCard #center {
  position: relative;
  bottom: -10px;
  transition: all 0.7s ease-in;
}
.trend .topAiring #airingCard #center div {
  position: absolute;
  top: 0;
  padding: 5px;
  background: #4054ba;
}
.trend .topAiring #airingCard #left {
  position: relative;
  left: 14px;
  bottom: -11px;
  transform: rotate(-5deg);
  transition: all 0.7s ease-in;
}
.trend .topAiring #airingCard #left div {
  position: absolute;
  top: 0;
  padding: 5px;
  background: #4054ba;
}
.trend .topAiring #airingCard #right {
  position: relative;
  right: 14px;
  bottom: -11px;
  transform: rotate(5deg);
  transition: all 0.7s ease-in;
}
.trend .topAiring #airingCard #right div {
  position: absolute;
  top: 0;
  padding: 5px;
  background: #4054ba;
}
.trend .topAiring #airingCard p {
  color: #eceef8;
  font-size: 1rem;
  font-weight: bold;
}

.topAiring:hover #airingCard #center {
  position: relative;
  transition: all cubic-bezier(0.52, 0.38, 0.28, 0.1) ease-in;
  bottom: 0;
}
.topAiring:hover #airingCard #left {
  position: relative;
  left: 0;
  transform: rotate(0deg);
  transition: all cubic-bezier(0.52, 0.38, 0.28, 0.1) ease-in;
}
.topAiring:hover #airingCard #right {
  position: relative;
  right: 0;
  transform: rotate(0deg);
  transition: all cubic-bezier(0.52, 0.38, 0.28, 0.1) ease-in;
}

/*# sourceMappingURL=style.css.map */
